@{
    Layout = "~/Views/Shared/_Layout.RepertoireClient.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Répertoire client</h1>
    <p class="lead">Répertorie tous les clients de Gefco Strasbourg</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Paramètres</h2>
        <p>
            Renseigner le document source :
        </p>
        <div class="btn" ondrop="alert('e')"><input type="text" value="@Model.Document" /><input type="button" class="btn btn-default" value="&raquo;" /></div>
    </div>
    <div class="col-md-6">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
