@{
    Layout = "~/Views/Shared/_Layout.RepertoireClient.cshtml";
    ViewBag.Title = "Nouvelle entreprise" ;
}

<style>
    .transparent {
        background-color: transparent;
        border-style: none;
        width: 100%;
    }

    table {
        width: 100%;
    }
</style>

<script>
    function validation() {
        let entrp = htmlToModel();

        if (entrp.Nom == "" ||
            entrp.Telephone == "") {
            alert("Certaines informations doivent être renseignées");
            return;
        }

        sendEntreprise(entrp, function () { window.location.href = 'Entreprises';});
    }
</script>

<div class="jumbotron row">
    <div class="col-md-6">
        <h1><input type="text" id="entreprise_name" class="transparent" placeholder="Entreprise" required/></h1>
        <p>Tel : <input type="text" id="telephone" class="transparent" placeholder="Téléphone" required/></p>
        <p>Fax : <input type="text" id="fax" class="transparent" placeholder="Fax" /></p>
        <p><input type="text" id="cde_ordre" class="transparent" placeholder="Code d'ordre"/></p>
        <p><input type="text" id="web_site" class="btn btn-primary btn-lg" placeholder="Site Web &raquo;" /></p>
    </div>
    <div class="col-md-6">
        <h2>Horraires</h2>
        <p>
            Du
            <select id="jour_ouverture">
                <option>Lundi</option>
                <option>Mardi</option>
                <option>Mercredi</option>
                <option>Jeudi</option>
                <option>Vendredi</option>
                <option>Samedi</option>
                <option>Dimanche</option>
            </select> au
            <select id="jour_fermeture">
                <option>Lundi</option>
                <option>Mardi</option>
                <option>Mercredi</option>
                <option>Jeudi</option>
                <option selected="selected">Vendredi</option>
                <option>Samedi</option>
                <option>Dimanche</option>
            </select>
        </p>
        <p>De <input type="time" id="oAM"> à <input type="time" id="fAM"> - <input type="time" id="oPM"> à <input type="time" id="fPM"></p>
        <p>
            Sauf le
            <select id="jour_exeptionnel">
                <option>Lundi</option>
                <option>Mardi</option>
                <option>Mercredi</option>
                <option>Jeudi</option>
                <option selected="selected">Vendredi</option>
                <option>Samedi</option>
                <option>Dimanche</option>
            </select><br />de <input type="time" id="feAM"> à <input type="time" id="fePM"><br />
            (<input type="text" id="feDesc" placeholder="Description">)
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Coordonnées</h2>
        <p><input type="text" id="rue" placeholder="Rue/Voie"/> - <input type="text" id="code_postal" placeholder="Code postal" /></p>
        <p><input type="text" id="ville" placeholder="Ville" /></p>
    </div>
    <div class="col-md-8">
        <h2>Contact(s)</h2>
        <table id="contacts" style="max-height: 200px;overflow: auto;display: block;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>e-Mail</th>
                    <th>Téléphone</th>
                </tr>
            </thead>
            <tbody id="contact_content">
                <tr id="last_contact"></tr>
            </tbody>
        </table>
        <input id="add_contact" type="button" class="btn btn-default" value="+ Ajouter"/>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Compétences</h2>
        <p>Materiel</p>
        <ul class="checkbox">
            <li><input type="checkbox" id="porteur" /> Porteur</li>
            <li><input type="checkbox" id="semis" /> Semis-Remorque</li>
            <li><input type="checkbox" id="vul" /> Vul</li>
            <li><input type="checkbox" id="haillon" /> Haillon</li>
            <li><input type="checkbox" id="tire_pal" /> Tire palette</li>
        </ul>
        <p>Remorques</p>
        <ul class="checkbox">
            <li><input type="checkbox" id="tautliner" /> Tautliner</li>
            <li><input type="checkbox" id="fourgon" /> Fourgon</li>
            <li><input type="checkbox" id="frigo" /> Frigorifique</li>
        </ul>
    </div>
    <div class="col-md-8">
        <h2>Commentaire(s)</h2>
        <input type="text" id="commentaire" />
        <input type="button" class="btn btn-primary" id="addEntreprise" value="Enregistrer" onclick="validation()" />
    </div>
</div>

<script>
    var zn_contact = document.getElementById("contact_content");
    var btn_add_contact = document.getElementById("add_contact");

    var count_contacts = 1;

    btn_add_contact.addEventListener("click", function () {
        document.getElementById("last_contact").outerHTML =
           '<tr id="contact_' + count_contacts + '">\
                <td><input class="name" type="text" placeholder="Nom" /></td>\
                <td><input class="mail" type="text" placeholder="Mail" /></td>\
                <td><input class="tel" type="text" placeholder="Téléphone" /></td>\
                <td><input id="btn_supp_contact_' + count_contacts + '" type="button" class="btn btn-danger" value="Supprimer" /></td>\
            </tr>\
            <div id="last_contact"></div>' ;

        document.getElementById("btn_supp_contact_" + count_contacts).addEventListener("click", function (e) {
            document.getElementById("contact_" + e.toElement.id.substring(17)).outerHTML = "";
            console.log("suppression : " + "contact_" + e.toElement.id.substring(17));
        });

        count_contacts++;
    });

</script>
