@{
    Layout = "~/Views/Shared/_Layout.RepertoireClient.cshtml";
    ViewBag.Title = "Nouvelle entreprise" ;
}

<script type="text/javascript" src="~/Scripts/Models.js"></script>
<script type="text/javascript" src="~/Scripts/IO.js"></script>

<style>
    .transparent {
        background-color: transparent;
        border-style: none;
        width: 100%;
    }

    table {
        width: 100%;
    }
</style>

<div class="jumbotron row">
    <div class="col-md-6">
        <h1><input type="text" class="transparent" placeholder="Entreprise" /></h1>
        <p>Tel : <input type="text" class="transparent" placeholder="Téléphone" /></p>
        <p>Fax : <input type="text" class="transparent" placeholder="Fax" /></p>
        <p><input type="text" class="transparent" placeholder="Code d'ordre"/></p>
        <p><input type="text" class="btn btn-primary btn-lg" placeholder="Site Web &raquo;" /></p>
    </div>
    <div class="col-md-6">
        <h2>Horraires</h2>
        <p>Du Model.OuvertureAM.DayOfWeek au Model.FermeturePM.DayOfWeek</p>
        <p>De Model.OuvertureAM.ToString("H:mm") à Model.FermetureAM.ToString("H:mm") - Model.OuverturePM.ToString("H:mm") à Model.FermeturePM.ToString("H:mm")</p>
        <p>
            Sauf le Model.Fermeture_exceptionnelleAM.DayOfWeek de Model.Fermeture_exceptionnelleAM.ToString("H:mm") à Model.Fermeture_exceptionnellePM.ToString("H:mm")<br />
            (Model.Fermeture_exceptionnelleSpecification)
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Coordonnées</h2>
        <p><input type="text" placeholder="Rue/Voie"/> - <input type="text" placeholder="Code postal" /></p>
        <p><input type="text" placeholder="Ville" /></p>
    </div>
    <div class="col-md-8">
        <h2>Contact(s)</h2>
        <table id="contacts" style="max-height: 200px;overflow: auto;display: block;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>e-Mail</th>
                    <th>Téléphone</th>
                </tr>
            </thead>
            <tbody id="contact_content">
                <tr>
                    <td><input type="text" placeholder="Nom"/></td>
                    <td><input type="text" placeholder="Mail" /></td>
                    <td><input type="text" placeholder="Téléphone" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Compétences</h2>
        <p>Materiel</p>
        <ul class="checkbox">
            <li><input type="checkbox" /> Porteur</li>
            <li><input type="checkbox" /> Semis-Remorque</li>
            <li><input type="checkbox" /> Vul</li>
            <li><input type="checkbox" /> Haillon</li>
            <li><input type="checkbox" /> Tire palette</li>
        </ul>
        <p>Remorques</p>
        <ul class="checkbox">
            <li><input type="checkbox" /> Tautliner</li>
            <li><input type="checkbox" /> Fourgon</li>
            <li><input type="checkbox" /> Frigorifique</li>
        </ul>
    </div>
    <div class="col-md-8">
        <h2>Commentaire(s)</h2>
        <input type="text"/>
    </div>
</div>
