@{
    Layout = "~/Views/Shared/_Layout.RepertoireClient.cshtml";
    ViewBag.Title = "Nouvelle entreprise" ;
}

<script type="text/javascript" src="~/Scripts/Models.js"></script>
<script type="text/javascript" src="~/Scripts/IO.js"></script>

<style>
    .transparent {
        background-color: transparent;
        border-style: none;
        width: 100%;
    }

    table {
        width: 100%;
    }
</style>

<div class="jumbotron row">
    <div class="col-md-6">
        <h1><input type="text" id="entreprise_name" class="transparent" placeholder="Entreprise" /></h1>
        <p>Tel : <input type="text" id="telephone" class="transparent" placeholder="Téléphone" /></p>
        <p>Fax : <input type="text" id="fax" class="transparent" placeholder="Fax" /></p>
        <p><input type="text" id="cde_ordre" class="transparent" placeholder="Code d'ordre"/></p>
        <p><input type="text" id="web_site" class="btn btn-primary btn-lg" placeholder="Site Web &raquo;" /></p>
    </div>
    <div class="col-md-6">
        <h2>Horraires</h2>
        <p>Du <input type="text" placeholder="Jour d'ouverture"> au <input type="text" placeholder="Jour de fermeture"></p>
        <p>De <input type="time"> à <input type="time"> - <input type="time"> à <input type="time"></p>
        <p>
            Sauf le <input type="text" placeholder="Jour"><br />de <input type="time"> à <input type="time"><br />
            (<input type="text" placeholder="Description">)
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Coordonnées</h2>
        <p><input type="text" id="rue" placeholder="Rue/Voie"/> - <input type="text" id="code_postal" placeholder="Code postal" /></p>
        <p><input type="text" id="ville" placeholder="Ville" /></p>
    </div>
    <div class="col-md-8">
        <h2>Contact(s)</h2>
        <table id="contacts" style="max-height: 200px;overflow: auto;display: block;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>e-Mail</th>
                    <th>Téléphone</th>
                </tr>
            </thead>
            <tbody id="contact_content">
            </tbody>
        </table>
        <input id="add_contact" type="button" class="btn btn-default" value="+ Ajouter"/>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Compétences</h2>
        <p>Materiel</p>
        <ul class="checkbox">
            <li><input type="checkbox" /> Porteur</li>
            <li><input type="checkbox" /> Semis-Remorque</li>
            <li><input type="checkbox" /> Vul</li>
            <li><input type="checkbox" /> Haillon</li>
            <li><input type="checkbox" /> Tire palette</li>
        </ul>
        <p>Remorques</p>
        <ul class="checkbox">
            <li><input type="checkbox" /> Tautliner</li>
            <li><input type="checkbox" /> Fourgon</li>
            <li><input type="checkbox" /> Frigorifique</li>
        </ul>
    </div>
    <div class="col-md-8">
        <h2>Commentaire(s)</h2>
        <input type="text" id="commentaire"/>
    </div>
</div>

<script>
    var zn_contact = document.getElementById("contact_content");
    var btn_add_contact = document.getElementById("add_contact");

    var count_contacts = 1;

    btn_add_contact.addEventListener("click", function () {
        zn_contact.innerHTML +=
            '<tr id="contact_' + count_contacts + '">\
                    <td>contact_' + count_contacts + '</td>\
                    <td><input type="text" placeholder="Nom" /></td>\
                    <td><input type="text" placeholder="Mail" /></td>\
                    <td><input type="text" placeholder="Téléphone" /></td>\
                    <td><input id="btn_supp_contact_' + count_contacts + '" type="button" class="btn btn-danger" value="Supprimer" /></td>\
                </tr>' ;

        document.getElementById("btn_supp_contact_" + count_contacts).addEventListener("click", function (e) {
            document.getElementById("contact_" + e.toElement.id.substring(17)).outerHTML = "";
            console.log("suppression : " + "contact_" + e.toElement.id.substring(17));
        });

        count_contacts++;
    });

</script>
